<h2>Workspace</h2>

<h3>
    <input type="text" [(ngModel)]="newBoardTitle" maxlength="50"
    (keyup.enter)="addBoard(newBoardTitle)" placeholder="Type your new board title and press enter.">
</h3>
<div>
    <table class="table table-hover" *ngFor="let board of boards">
        <thead>
        <tr>
            <th>{{board.title + " (id: " + board.id + ")"}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let card of board.cards">
            <td>{{card}}</td>
        </tr>
        </tbody>
        <a routerLink="/edit/{{board.id}}" (click)="editBoard(board)">EDIT</a>
    </table>
</div>